.itm_file_preview_ico_c
{
    width:                      270px;
    float:                      left;
}
.itm_file_preview_info_c
{
    width:                      300px;
    float:                      left;
}